* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1185px;
    padding: 0 15px;
    margin: 0 auto;
}

/* TEXT */

.button {
    display: inline-block;
    background: #AC1313;
    padding: 20px 40px;
}

.button a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
} 

.descr {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    color: #000;
}

span {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
}

.text {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #6C6C6C;   
}

/* --TEXT-- */
